@import url('fonts.css');

:root {
    --bg: #ffffff;
    --color: #545454;
    --color2: #aaaaaa;
    --red: #e21f2f;
    --blue: #1f425d;
    --white: #ffffff;
    --gray: #999999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color);
}

a {
    text-decoration: none;
    display: block;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header .icon-box__title {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    display: inline-block;
    font-size: 13px;
    color: #aaa;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6, .hentry__title, .hentry__title a, .page-box__title a {
    color: var(--color2);
}
h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: 900;
    letter-spacing: -.05em;
}
header {
    padding-top: 23px;
}
.header__container {
    position: relative;
}
header .icon-box__subtitle {
    display: block;
    color: #444;
    font-weight: 700;
    font-size: 14px;
}
header .fa-3x {
    font-size: 14px;
    color: var(--red);
}

header .logo__nav {
    display: flex;
    justify-content: space-between;
}
header .nav .contact {
    display: flex;
}
header .nav .contact .icon-box {
    margin-right: 30px;
    border-right: 1px solid rgba(0,0,0,.1);
    padding-right: 30px;
}
header .nav .contact .icon-box:last-of-type {
    border: 0;
}
header .logo__nav .logo {
    width: 217px;
    background-color: var(--white);
    margin-right: 30px;
}
header .logo__nav img {
    width: 100%;
    object-fit: contain;
}
.header__container::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 30px;
    height: 30px;
    background-color: var(--white);
    width: calc(50% - 585px);
}
.header__container nav {
    background-color: var(--blue);
}
.header__container nav .nav_soc {
    color: var(--white);
    position: relative;
}
.header__container nav .nav_soc:before {
    position: absolute;
    content: '';
    width: 280px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: var(--white);
}
.header__container nav .nav_soc::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: -5px;
    left: 245px;
    background-color: var(--white);
    transform-origin: top left;
    transform: rotate(-45deg);
}
.header__container .nav_soc {
    display: flex;
    justify-content: end;
    align-items: center;
}
.header__container .nav_main ul {
    display: flex;
}
.header__container .nav_main ul li a {
    color: var(--white);
}
.header__container .nav_soc .nav_main {
    margin-left: 300px;
    position: relative;
}
.header__container .nav_soc .soc {
    display: flex;
    padding: 10px 0;
    margin-left: 50px;
}
.header__container .nav_soc .soc a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 42px;
    border-radius: 2px;
    transition: all 100ms ease-out;
    padding-left: 1px;
    margin-right: 8px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
}
.header__container .nav_soc .soc a:hover {
    background-color: rgba(255, 255, 255, 1);
}
.header__container .nav_soc .soc a:last-of-type {
    margin-right: 0;
}
.header__container .nav_soc .soc a i {
    color: var(--blue);
}
.header__container .nav_soc .nav_main ul li {
    position: relative;
}
.header__container .nav_soc .nav_main ul li a {
    padding: 18px 20px;
    position: relative;
    font-weight: 600;
}
.header__container .nav_soc .nav_main ul li:not(:last-of-type):before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.header__container .nav_soc .nav_main ul li > ul {
    display: none;
    position: absolute;
    top: 60px;
    z-index: 999;
}
.header__container .nav_soc .nav_main ul li:hover > ul {
    display: block;
    width: max-content;
}
.header__container .nav_soc .nav_main ul li.main-li:hover > a {
    background-color: var(--white);
    color: var(--blue);
    padding: 7px 35px 19px 20px;
    margin-top: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__container .nav_soc .nav_main ul li > ul li a {
    color: var(--gray);
    font-size: 14px;
    font-weight: 700;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    min-width: 160px;
    white-space: nowrap;
}
.header__container .nav_soc .nav_main ul li > ul li:last-of-type a {
    border: none;
}
.header__container .nav_soc .nav_main .main-li {
    position: relative;
}
.header__container .nav_soc .nav_main .main-li::after {
    content: '';
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--white);
}
.header__container .nav_soc .nav_main .main-li:hover::after {
    border-top: 5px solid var(--blue);
}

.header__container .nav_soc .nav_main ul li.main-li a {
    padding: 10px 20px;
}
.header__container .nav_soc .nav_main ul li.main-li > a {
    padding: 18px 35px 18px 20px;
}
.header__container .nav_soc .nav_main ul li.main-li a:hover {
    color: var(--blue)
}